<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm rounded">
                <div class="card-body p-5">
                    <h2 class="text-center mb-4">¡Estamos aquí para ayudarte!</h2>
                    <p class="text-center mb-4">¿Tienes alguna pregunta, comentario o necesitas asistencia? No dudes en contactarnos.</p>

                    <form>
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input #txtName type="text" class="form-control" id="nombre" placeholder="Tu nombre">
                        </div>
                        <div class="mb-3">
                            <label for="mensaje" class="form-label">Mensaje</label>
                            <textarea #txtMessage class="form-control" id="mensaje" rows="5" placeholder="Escribe tu mensaje aquí"></textarea>
                        </div>
                        <div class="d-grid">
                            <button (click)="sendMessage(txtName.value, txtMessage.value)" class="btn btn-primary btn-lg" target="_blank">
                                Enviar Mensaje
                            </button>
                        </div>
                    </form>

                    <hr class="my-4">

                    <div class="text-center">
                        <h4>O contáctanos por:</h4>
                        <p><i class="bi bi-envelope-fill text-secondary me-2"></i> <a href="mailto:agromascovita@gmail.com">Mail</a></p>
                        <p><i class="bi bi-phone-fill text-success me-2"></i> <a href="tel:+543751448459">+54 3751 448459</a></p>
                        <p><i class="bi bi-geo-alt-fill text-info me-2"></i> Av. San Martin 390 "E", Eldorado, Misiones</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>