<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm rounded">
                <div class="card-body p-5">
                    <h2 class="text-center mb-4">Información Útil para tu Mascota</h2>
                    <p class="text-center mb-4">
                        Aquí encontrarás contactos importantes y recursos para el bienestar de tus animales.
                    </p>

                    <div class="accordion" id="utilInformation">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingVeterinarias">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVeterinarias" aria-expanded="true" aria-controls="collapseVeterinarias">
                  Veterinarias
                </button>
                            </h2>
                            <div id="collapseVeterinarias" class="accordion-collapse collapse show" aria-labelledby="headingVeterinarias" data-bs-parent="#utilInformation">
                                <div class="accordion-body">
                                    <ul class="list-unstyled">
                                      <li>
                                            <strong>Centro Veterinario del Norte:</strong>
                                            <a href="https://wa.me/5493751419028"> 03751 419028</a>
                                      </li>  
                                      <li>
                                            <strong>Clínica Veterinaria Bischoff:</strong>
                                            <a href="https://wa.me/5493751616360"> 03751 61-6360</a>
                                        </li>
                                        <li>
                                            <strong>Agroveterinaria Don Camilo:</strong>
                                            <a href="https://wa.me/5493751421673"> 03751 42-1673</a>
                                        </li>
                                        <li>
                                            <strong>Veterinaria "Dra. Paola Sosa":</strong>
                                            <a href="https://wa.me/5493751332626"> 03751 33-2626</a>
                                        </li>
                                        <li>
                                            <strong>Veterinaria Silvet:</strong>
                                            <a href="https://wa.me/5493751418818"> 03751 41-8818</a>
                                        </li>                                        
                                        <li><a href="#">Ver todas las veterinarias</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingZoonosis">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZoonosis" aria-expanded="false" aria-controls="collapseZoonosis">
                  Centro de Zoonosis Municipal
                </button>
                            </h2>
                            <div id="collapseZoonosis" class="accordion-collapse collapse" aria-labelledby="headingZoonosis" data-bs-parent="#utilInformation">
                                <div class="accordion-body">
                                    <p>
                                        <strong>Dirección:</strong> C. Pionero Durian 239, N3380 Eldorado, Misiones
                                    </p>
                                    <p>
                                        <strong>Teléfono:</strong>
                                        <a href="https://wa.me/5493751430926"> 3751 430926</a>
                                    </p>
                                    <p><strong>Horario de Atención:</strong> de 7 hs a 12 hs</p>
                                    <p>
                                        <strong>Servicios:</strong> Atención gratuita, Castraciones
                                    </p>
                                    <p>
                                        <a href="https://www.facebook.com/p/Centro-de-Veterinaria-y-Zoonosis-Eldorado-100068951148280">Sitio Web</a
                    >
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingMunicipalidad">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseMunicipalidad"
                  aria-expanded="false"
                  aria-controls="collapseMunicipalidad"
                >
                  Municipalidad - Información Relevante
                </button>
              </h2>
              <div
                id="collapseMunicipalidad"
                class="accordion-collapse collapse"
                aria-labelledby="headingMunicipalidad"
                data-bs-parent="#utilInformation"
              >
                <div class="accordion-body">
                  <p>
                    <strong>Municipalidad:</strong>
                    <a href="https://eldorado.gob.ar/"  target="_blank"
                      > Web</a
                    >
                  </p>
                  <p>
                    <strong>Ordenanzas sobre Mascotas:</strong>
                    <a target="_blank" href="https://floralwhite-alpaca-355258.builder-preview.com/carta-organica"
                      > Ver Ordenanzas</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>