<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm rounded">
                <div class="card-body p-4">
                    <h2 class="card-title mb-4">Resumen del carrito</h2>
                    <ul class="list-group mb-3">
                        @for (item of cart.products; track $index) {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>{{ item.product.name }}</span>
                            <div>
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text" id="qty-label-{{ $index }}">Cant.</span
                  >
                  <input
                    type="number"
                    class="form-control"
                    [(ngModel)]="item.quantity"
                    (change)="updateQuantity(item, item.quantity)"
                    min="1"
                  />
                  <button
                    class="btn btn-danger btn-sm ms-2"
                    (click)="removeItem(item)"
                  >
                    <i class="bi bi-trash-fill"></i> Eliminar
                  </button>
                </div>
              </div>
            </li>
            } @empty {
            <li class="list-group-item text-center">El carrito está vacío.</li>
            }
          </ul>
          <div class="row">
            <div class="col">
                <div class="alert alert-info mt-1">
                    Envíos gratis desde km 4 hasta km 11 en horarios especificos.
                    Fuera del horario determinado el costo por motomandado es de
                    {{defaultShippingCost | currency}}
                </div>
            </div>
        </div>          
          <div class="d-flex justify-content-between align-items-center mb-3">
            <strong>Total:</strong>
            <span class="fs-5">{{ getTotal() | currency}}</span>
                                </div>
                                <div class="d-grid">
                                    <a class="btn btn-success btn-lg" (click)="!hasItems() ? $event.preventDefault() : null" [href]="hasItems()? 'https://wa.me/5493751448459/?text=' + getDetail():'#'">
                                        <i class="bi bi-whatsapp me-2"></i> Enviar pedido por Whatsapp
                                    </a>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>