<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let product of products">
      <div class="card">
        <div class="card-img-container">
          <img [src]="product.imageUrl" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">Precio: ${{ product.price }}</p>
          <a [routerLink]="['/product', product.id]" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    </div>
  </div>