<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let product of products">
        <div class="card">
            <a [routerLink]="['/product', product.id]">
                <div class="card-img-container">
                    @if (product.image && product.image !== '') {
                    <img [src]="product.image" class="card-img-top" [alt]="product.name" /> } @else {
                    <img src="/assets/defaultproduct.jpg" class="card-img-top" [alt]="product.name" /> }
                </div>
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">
                    @if (product.discountedPrice !== undefined && product.discountedPrice !== null && product.discountedPrice
                    < product.price) { Precio: <span class="original-price text-muted me-2"><s>{{ product.price | currency }}</s></span>
                        <span class="discounted-price">{{ product.discountedPrice | currency }}</span> } @else { Precio: {{ product.price | currency }} }
                </p>
                <div class="d-grid gap-2">
                    <button type="button" (click)="buyNow(product)" class="btn btn-success">
                        Pedir ahora
                    </button>
                    <button type="button" (click)="addProductToCart(product)" class="btn btn-primary">
              Agregar al carrito
            </button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .discounted-price {
        color: green;
        font-weight: bold;
    }
</style>