<div class="container mt-5">
    <div class="row justify-content-center p-3">
        <div class="card col-md-5 shadow-sm rounded">
            <h2 class="card-title text-center mb-4 text-primary fw-bold">Consulta tus Puntos Mascovita</h2>
            <p class="text-center text-muted mb-4">Ingresa tus datos para ver tu progreso en el Club.</p>

            <div class="card-body">
                <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="mb-4 ">
                    <div class="mb-3">
                        <label for="userId" class="form-label">Ultimos 3 del DNI:</label>
                        <input type="number" max="99999" class="form-control p-3" id="userId" name="userId" [(ngModel)]="userIdInput"
                            required #userIdModel="ngModel" [ngModelOptions]="{ updateOn: 'blur' }"
                            placeholder="Ej: 999">
                            @if (userIdModel.invalid && userIdModel.touched) {
                        <div  class="text-danger small">
                            Debe ingresar los últimos 3 numeros del DNI.
                        </div>
                            }

                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Whatsapp:</label>
                        <input type="tel" class="form-control p-3" id="phoneNumber" name="phoneNumber"
                            [(ngModel)]="phoneNumberInput" required #phoneModel="ngModel" [ngModelOptions]="{ updateOn: 'blur' }"
                            placeholder="Ej: 3751121212">
                        @if (phoneModel.errors?.['required'] && phoneModel.touched) {
                            <div class="text-danger small">
                                El número de Whatsapp es requerido.
                            </div>
                        }
                        @if (phoneModel.errors?.['argentinaMobile'] && phoneModel.touched) {
                            <div class="text-danger small">
                                El número debe ser un celular argentino válido (ej: 11xxxxxxxx, 15xxxxxxxxx, 9xxxxxxxxxx,
                                549xxxxxxxxxx).
                            </div>
                        }
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" [disabled]="form.invalid"
                            class="btn btn-primary btn-lg shadow-sm py-3 px-5 animate__animated animate__pulse">
                            Ver Mis Puntos
                        </button>
                    </div>
                </form>

                @if (errorMessage) {
                <div class="alert alert-danger text-center animate__animated animate__shakeX" role="alert">
                    {{ errorMessage }}
                </div>
                }
            </div>
        </div>
    </div>
</div>